@font-face {
  font-family: "Acrylic";
  src: url("../Assets/Fonts/AcylicalHand-Thick.ttf");
}

@font-face {
  font-family: "Basquiat";
  src: url("../Assets/Fonts/BASQUIAT.otf");
}

@font-face {
  font-family: "Luam";
  src: url("../Assets/Fonts/Luam-Regular.ttf");
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: 'Courier New', Courier, monospace;
  overflow: hidden;
  background-color: black;
}


.top {
  position: relative;
  display: flex;
  height: 10%;
  justify-content: space-between;
  z-index: 2;
  color: #00FF00;
  text-shadow: 0 0 7px #00ff00;
  align-items: center;
}

.deco-header {
  width: 50%;
  margin-right: 3rem;
  margin-right: 5rem;
  margin-left: 1rem;
  opacity: 0;
}

.hour {
  margin-right: 1rem;
}

.title-wrapper{
  height: 100%;
  display: flex;
}

.title {
  display: flex;
  align-items: center;
  margin-left: 1rem;
  min-width: 360px;
  height: 100%;
}

.title .deco-title {
  position: relative;
  height: 3rem;
  top: 0.2rem;
  left: 0.2rem;

}



.title h1 {
  display: flex;
  align-items: center;
}

.title h1 span:nth-child(1) {
  font-family: "Basquiat";
  font-weight: lighter;
  margin: 0;
  height: fit-content;
  font-size: 2rem;

}

.title h1 span:nth-child(2) {
  font-family: "Luam";
  font-weight: lighter;
  margin: 0;
  height: fit-content;
  font-size: 1.7rem;
  margin-left: 0.5rem;
  position: relative;
  top: 3px;
}


.ico {
  display: flex;
  width: 15rem;
  justify-content: space-evenly;
  height: 100%;
}

.proj {
  background-image: url('../Assets/SVG/LinkProjG.svg');
  background-size: contain;
  background-position: center;
  width: 2rem;
  background-repeat: no-repeat;
  cursor: pointer;
}

.comp {
  background-image: url('../Assets/SVG/LinkCompG.svg');
  background-size: contain;
  background-position: center;
  width: 2rem;
  background-repeat: no-repeat;
  cursor: pointer;

}

.conclu {
  background-image: url('../Assets/SVG/LinkConcluG.svg');
  background-size: contain;
  background-position: center;
  width: 2rem;
  background-repeat: no-repeat;
  cursor: pointer;

}

.proj:hover{
  animation-duration: 1s;
  animation-name: text-wiggle-header;
  animation-delay: 0;
  animation-iteration-count: infinite;
  animation-direction: forward;
}

.comp:hover{
  animation-duration: 1s;
  animation-name: text-wiggle-header;
  animation-delay: 0;
  animation-iteration-count: infinite;
  animation-direction: forward;
}

.conclu:hover{
  animation-duration: 1s;
  animation-name: text-wiggle-header;
  animation-delay: 0;
  animation-iteration-count: infinite;
  animation-direction: forward;
}

@keyframes text-wiggle-header {
  0% {
      transform: rotate(0deg);
  }

  15% {
      transform: rotate(5deg);
  }

  30% {
      transform: rotate(-5deg);
  }

  45% {
      transform: rotate(5deg);
  }

  60% {
      transform: rotate(0deg);
  }
}

.wrapper {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  position: relative;
  background-image: linear-gradient(transparent, transparent 3px, #122510);
  background-size: 4px 4px;

}

canvas {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  z-index: 1;
  height: 120%;
  pointer-events: none;
}

.skills {
  position: absolute;
  color: hsl(120, 96%, 63%);
  z-index: 2;
  text-shadow: 0 0 7px #00ff00;
}


.skill1 {
  top: 30rem;
  left: 12vw;
}

.skill2 {
  top: 30rem;
  left: 80vw;
}

.skill3 {
  top: 18rem;
  left: 10vw;
}

.skill4 {
  top: 10rem;
  left: 20vw;
}

.skill5 {
  top: 10rem;
  left: 70vw;
}

.skill6 {
  top: 80vh;
  left: 23vw;
}

.skill7 {
  top: 80vh;
  left: 47vw;
}

.skill8 {
  top: 10vh;
  left: 42vw;
}

.skill9 {
  top: 19rem;
  left: 75vw;
}

.skill10 {
  top: 36rem;
    left: 74vw;
}

.skills .title {
  margin: 0;
  transition: opacity 0.5s;
}

.skills:hover .title {
  transition: all 0.3s;
}

.details {
  font-size: 18px;
  display: flex;
  flex-direction: column;
}

.details p {
  margin: 0;
  transition: all 0.2s;
}

.hidden {
  opacity: 0;
}

.nextPage {
  width: fit-content;
  color: black;
  position: relative;
  left: 50%;
  top: 100%;
  cursor: pointer;
  transition: all 1s;
  font-weight: lighter;
  height: fit-content;
  transform: translate(-50%, -20vh);
  background-color: #00FF00;
  text-align: center;
  z-index: 2;
}

.nextPage:hover {
  animation-duration: 1s;
  animation-name: text-wiggle;
  animation-delay: 0;
  animation-iteration-count: infinite;
  animation-direction: forward;
}

@keyframes text-wiggle {
  0% {
    transform: translate(-50%, -20vh) rotate(0deg);
  }

  15% {
    transform: translate(-50%, -20vh) rotate(5deg);

  }

  30% {
    transform: translate(-50%, -20vh) rotate(-5deg);

  }

  45% {
    transform: translate(-50%, -20vh) rotate(5deg);

  }

  60% {
    transform: translate(-50%, -20vh) rotate(0deg);
  }
}

svg {
  width: 100%;
  height: 100vh;
  display: block;
}

.transition {
  position: fixed;
  background-color: black;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  opacity: 1;
  left: 0;
  z-index: 4;
  background-image: linear-gradient(transparent, transparent 3px, #262f25);
  background-size: 4px 4px;
}

.transition-content {
  position: absolute;
  width: 50vw;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-size: 30px;
  transition: all 1s;
}

.transition-content p {
  color: #00FF00;
  text-align: center;
  text-shadow: 0 0 7px #00ff00;
}

.transitionB {
  position: fixed;
  background-color: rgb(255, 255, 255);
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  opacity: 1;
  left: 0;
  transition: all 1s;
  pointer-events: none;
  z-index: 4;
}

.transitionC {
  position: fixed;
  background-color: black;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  opacity: 1;
  left: 0;
  z-index: 4;
  background-image: linear-gradient(transparent, transparent 3px, #262f25);
  background-size: 4px 4px;
  transition: all 1s;
}

.mobile {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color: black;
  z-index: 10;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.mobile p {
  height: fit-content;
  width: 80vw;
  margin: 0;
  font-size: 35px;
  text-align: center;
  color: white;
  font-family: "Luam";
}

.mobile img {
  height: 20vw;
  margin-bottom: 2rem;
}

@media screen and (hover: none) {

  html,
  body {
    overflow: auto;
  }

  .wrapper {
    overflow-x: hidden;
    overflow-y: scroll;
  }

  .title {
    justify-content: center;
  }

  .skills {
    position: relative;
    top: 0;
    left: 0;
    text-align: center;
    margin-top: 5rem;
  }

  .skill1 {
    margin-top: 10rem;
  }

  .skill10 {
    margin-bottom: 5rem;
  }

  .nextPage {
    top: 0;
    left: 0;
    transform: none;
    text-align: center;
    width: 100%;
    margin-bottom: 15vh;
    height: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  @keyframes text-wiggle {
    0% {
      transform: rotate(0deg);
    }

    15% {
      transform: rotate(5deg);

    }

    30% {
      transform: rotate(-5deg);

    }

    45% {
      transform: rotate(5deg);

    }

    60% {
      transform: rotate(0deg);
    }
  }
}

@media screen and (max-width: 800px) {

  html,
  body {
    overflow: auto;
  }

  .wrapper {
    overflow-x: hidden;
    overflow-y: scroll;
  }

  .top {
    justify-content: center;
  }

  .title {
    justify-content: center;
  }

  .title h1 {
    flex-wrap: wrap;
    width: 70%;
    justify-content: center;
  }

  .ico{
    display: none;
  }

  .hour {
    display: none;
  }

  .deco-title {
    display: none;
  }

  .transition-content {
    width: 90vw;
    font-size: 20px;
  }
}

.hiddenTop {
  transform: translateY(200vh);
  pointer-events: none;
}

.hiddenLeft {
  transform: translateX(200vw);
  pointer-events: none;
}

.hiddenBottom {
  transform: translateY(-200vh);
  pointer-events: none;
}

.hiddenRight {
  transform: translateX(-200vw);
  pointer-events: none;
}

.hiddenOpacity {
  opacity: 0;
  pointer-events: none;
}