@font-face {
    font-family: "Acrylic";
    src: url("../Assets/Fonts/AcylicalHand-Thick.ttf");
}

@font-face {
    font-family: "Basquiat";
    src: url("../Assets/Fonts/BASQUIAT.otf");
}

@font-face {
    font-family: "Luam";
    src: url("../Assets/Fonts/Luam-Regular.ttf");
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    background-color: black;
    color: white;
    font-family: "Luam";
    font-weight: lighter;
}

#circle {
    position: absolute;
    width: 200vw;
    height: 200vw;
    transform: translate(-50%, -52%);
    background-image: radial-gradient(rgba(33, 33, 33, 0.277) 2%, rgba(49, 49, 49, 0.353) 3%, black 10%);
    transition: all, 0.05s;
}

#Scene1 {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.top {
    position: relative;
    display: flex;
    height: 10%;
    justify-content: space-between;
    z-index: 2;
}

.deco-header {
    width: 50%;
    margin-right: 3rem;
    margin-right: 5rem;
    margin-left: 1rem;
}

.titre {
    display: flex;
    align-items: center;
    margin-left: 1rem;
    min-width: 360px;
}

.titre .deco-title {
    position: relative;
    height: 3rem;
    top: 0.2rem;
    left: 0.2rem;
}



.titre h1 {
    display: flex;
    align-items: center;
}

.titre h1 span:nth-child(1) {
    font-family: "Basquiat";
    font-weight: lighter;
    margin: 0;
    height: fit-content;
    font-size: 2rem;

}

.titre h1 span:nth-child(2) {
    font-family: "Luam";
    font-weight: lighter;
    margin: 0;
    height: fit-content;
    font-size: 1.7rem;
    margin-left: 0.5rem;
    position: relative;
    top: 3px;
}

.titre h1 span:nth-child(3) {
    font-family: "Luam";
    font-weight: lighter;
    margin: 0;
    height: fit-content;
    font-size: 1.7rem;
    margin-left: 0.5rem;
    position: relative;
    top: 3px;
}

.main {
    position: relative;
    height: 90%;
}

.bg {
    position: absolute;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    flex-direction: row-reverse;
    opacity: 0.7;
}

.bg img:nth-child(3) {
    transform: rotate(50deg);
}

.bg img:nth-child(4) {
    transform: rotate(195deg);
}

.overlay {
    position: absolute;
    height: 100%;
    width: 100%;

}

.overlay .text {
    position: relative;
    width: fit-content;
    margin-top: 35vh;
    margin-left: 8rem;
}

.overlay .text .deco-text {
    position: absolute;
    top: -1.75rem;
    left: -1.5rem;
    z-index: 2;
    mix-blend-mode: difference;
}

.overlay .text .deco-text-fill {
    position: absolute;
    top: -1.75rem;
    left: -1.5rem;
}

.overlay .text h1 {
    margin: 0;
}

.overlay .text .main-txt1 {
    position: relative;
    font-family: "Basquiat";
    font-weight: lighter;
    font-size: 35px;
    z-index: 1;
    transition: all 0.5s cubic-bezier(0.37, -0.78, 0.45, 1.66);
}

.overlay .text:hover .main-txt1 {
    transform: rotate(-1deg);
    font-size: 38px;
}

.overlay .text .main-txt2 {
    position: relative;
    font-family: "Acrylic";
    font-weight: lighter;
    font-size: 40px;
    z-index: 1;
    margin-top: 1rem;
    left: -5px;
    margin-bottom: 1rem;
    transition: all 0.5s cubic-bezier(0, 0.92, 0.44, 1.5);

}

.overlay .text:hover .main-txt2 {
    transform: translateY(-5px);
    transform: rotate(1deg);
    font-size: 50px;
}

.overlay .text .main-txt3 {
    position: relative;
    font-weight: lighter;
    font-size: 35px;
    z-index: 1;
    transition: all 0.5s;

}

.overlay .text:hover .main-txt3 {
    /* transform: rotate(5deg); */
    transform: translateY(-5px);
}

.transition {
    position: fixed;
    background-color: white;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    opacity: 1;
    left: 0;
    z-index: 4;
}



.nextPage {
    opacity: 1;
    position: absolute;
    top: 0;
    left: 0;
    margin-left: 8rem;
    margin-top: 70vh;
    cursor: pointer;
    transition: all 0.8s cubic-bezier(0, 1.35, 0.11, 0.95);
}

.nextPage h3 {
    font-family: "Acrylic";
    text-align: center;
    margin: 0;
    font-weight: normal;
    transition: all 0.6s cubic-bezier(0.15, 1.45, 0.79, 1.09);
}

.nextPage img {
    position: relative;
    width: 2rem;
    margin-left: 0%;
    top: -15px;
    rotate: -90deg;
    transform: scaleX(-1);
    transition: all 0.4s cubic-bezier(0.15, 1.45, 0.79, 1.09);
}

.nextPage:hover h3 {
    transform: rotate(-5deg);
}

.nextPage:hover img {
    margin-left: 80%;
    transform: scaleX(-1) rotate(5deg);
}

.mobile {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-color: black;
    z-index: 10;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.mobile p {
    height: fit-content;
    width: 80vw;
    margin: 0;
    font-size: 35px;
    text-align: center;
    color: white;

}

.mobile img {
    height: 20vw;
    margin-bottom: 2rem;
}

@media screen and (max-width: 800px) {

    .top {
        justify-content: center;
    }

    .titre {
        justify-content: center;
    }

    .titre h1 {
        flex-wrap: wrap;
        width: 70%;
        justify-content: center;
    }

    .deco-header {
        display: none;
    }

    #circle {
        width: 500vw;
        height: 500vh;
        left: 357px;
        top: 232px;
    }



    .overlay .text {
        text-align: center;
        margin-left: 0;
        margin-top: 10rem;
    }

    .overlay .text .deco-text {
        left: 2.5rem;
    }

    .overlay .text .deco-text-fill {
        left: 2.5rem;
    }

    .overlay .text:hover .main-txt1 {
        font-size: 35px;
    }

    .overlay .text:hover .main-txt2 {
        font-size: 40px;
    }

    .nextPage{
        margin-left: 7rem;
    }

}


.hiddenTop {
    transform: translateY(200vh);
    pointer-events: none;
}

.hiddenLeft {
    transform: translateX(200vw);
    pointer-events: none;
}

.hiddenBottom {
    transform: translateY(-200vh);
    pointer-events: none;
}

.hiddenRight {
    transform: translateX(-200vw);
    pointer-events: none;
}

.hiddenOpacity {
    opacity: 0;
    pointer-events: none;
}