@font-face {
    font-family: "Acrylic";
    src: url("../Assets/Fonts/AcylicalHand-Thick.ttf");
}

@font-face {
    font-family: "Basquiat";
    src: url("../Assets/Fonts/BASQUIAT.otf");
}

@font-face {
    font-family: "Luam";
    src: url("../Assets/Fonts/Luam-Regular.ttf");
}

@font-face {
    font-family: "Georgia";
    src: url("../Assets/Fonts/georgia.ttf");
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Luam';
}

canvas {
    position: absolute;
    top: 0;
}

a {
    color: black;
    text-decoration: none;
}

#Scene {
    background-color: white;
    width: 100%;
    height: 100vh;
    position: relative;
    overflow: hidden;
}

.top {
    position: relative;
    display: flex;
    height: 10%;
    justify-content: space-between;
    z-index: 2;
}

.deco-header {
    width: 50%;
    margin-right: 3rem;
    margin-right: 5rem;
    margin-left: 1rem;
}

.titre {
    display: flex;
    align-items: center;
    margin-left: 1rem;
    min-width: 360px;
}

.titre .deco-title {
    position: relative;
    height: 3rem;
    top: 0.2rem;
    left: 0.2rem;
    filter: brightness(0);
}



.titre h1 {
    display: flex;
    align-items: center;
}

.titre h1 span:nth-child(1) {
    font-family: "Basquiat";
    font-weight: lighter;
    margin: 0;
    height: fit-content;
    font-size: 2rem;

}

.titre h1 span:nth-child(2) {
    font-family: "Luam";
    font-weight: lighter;
    margin: 0;
    height: fit-content;
    font-size: 1.7rem;
    margin-left: 0.5rem;
    position: relative;
    top: 3px;
}

.content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 5vw;
    height: 90vh;
}

.museum-wrapper {
    height: 100%;
    width: fit-content;
    display: flex;
    flex-direction: row;
    margin-left: 2rem;
}

.museum {
    position: relative;
    top: 0vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 25vw;
    overflow: hidden;
}

.museum-section {
    width: 15vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    transition: all 1s;
}

.cadre {
    background-image: url("../Assets/Images/photo.png");
    position: relative;
    width: 15vw;
    height: 19vh;
    transition: all 0.5s cubic-bezier(0, 0.76, 0.58, 1);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}



.photographie {
    background-image: url("../Assets/Images/photo.png");

}

.crea-web {
    background-image: url("../Assets/Images/creaWeb.png");
}

.video {
    background-image: url("../Assets/Images/video.png");
}

.troid {
    background-image: url("../Assets/Images/3d.png");
}

.jv {
    background-image: url("../Assets/Images/jv.png");
}

.dessin {
    background-image: url("../Assets/Images/draw.png");
}

.anim {
    background-image: url("../Assets/Images/anim.png");
}

.mainCaroussel:hover .cadre {
    width: 20vw;
    height: 25vh;
}



h3 {
    font-size: 3vw;
    margin: 0;
    font-weight: lighter;
    width: max-content;
}

.paragraphe {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    pointer-events: none;
    align-items: flex-start;
    align-content: center;
    font-size: 36px;

    gap: 0.2rem;
    margin-left: 5rem;
    margin-right: 5rem;
}

.paragraphe p {
    margin: 0;
    padding: 0;
    height: 35px;
    width: min-content;
    pointer-events: none;
    position: relative;
    font-size: 36px;
}

.espace {
    opacity: 0;
}

.nextPage {
    width: fit-content;
    color: black;
    position: relative;
    cursor: pointer;
    transition: all 1s;
    font-weight: lighter;
    height: fit-content;
    text-decoration: underline;
}

.nextPage:hover {
    animation-duration: 1s;
    animation-name: text-wiggle;
    animation-delay: 0;
    animation-iteration-count: infinite;
    animation-direction: forward;
}

@keyframes text-wiggle {
    0% {
        transform: rotate(0deg);
    }

    15% {
        transform: rotate(5deg);

    }

    30% {
        transform: rotate(-5deg);

    }

    45% {
        transform: rotate(5deg);

    }

    60% {
        transform: rotate(0deg);
    }
}

.gradient {
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(#ffffff, #ffffff00, #ffffff);
    z-index: 1;
    pointer-events: none;
}

.flecheUp {
    cursor: pointer;
    transition: all 0.5s;
}



.flecheUp img {
    width: 40px;
    transition: all 0.5s;

}

.flecheUp:hover img {
    width: 60px;
}

.flecheDown {
    rotate: 180deg;
    cursor: pointer;

}


.flecheDown img {
    width: 40px;
    transition: all 0.5s;

}


.flecheDown:hover img {
    width: 60px;
}

.boutons {
    height: 80%;
    width: 60px;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.bouton {
    border-radius: 100%;
    background-color: black;
    opacity: 0.3;
    width: 10px;
    height: 10px;
    transition: all 0.5s;
}

.mainBouton {
    opacity: 1;
    width: 15px;
    height: 15px;
}

.text {
    font-size: 30px;
    margin-right: 5rem;
}


.transition {
    position: fixed;
    background-color: white;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    opacity: 1;
    left: 0;
    z-index: 4;
}

.transition-content {
    position: absolute;
    width: 50vw;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: 30px;
    transition: all 1s;
}

.transitionB {
    position: fixed;
    background-color: black;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    opacity: 1;
    left: 0;
    transition: all 1s;
    pointer-events: none;
    z-index: 4;
    background-image: linear-gradient(transparent, transparent 3px, #262f25);
    background-size: 4px 4px;
}

.mobile {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-color: black;
    z-index: 10;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.mobile p {
    height: fit-content;
    width: 80vw;
    margin: 0;
    font-size: 35px;
    text-align: center;
    color: white;

}

.mobile img {
    height: 20vw;
    margin-bottom: 2rem;
}

@media screen and (max-width: 800px) {

    #Scene {
        height: unset;
    }

    .top {
        justify-content: center;
    }

    .titre {
        justify-content: center;
    }

    .titre h1 {
        flex-wrap: wrap;
        width: 70%;
        justify-content: center;
    }

    .deco-header {
        display: none;
    }

    .deco-title {
        display: none;
    }

    .transition-content {
        width: 80vw;
        text-align: center;
    }



    .content {
        flex-direction: column;
        justify-content: space-evenly;
        height: fit-content;
    }

    .content .museum-wrapper {
        flex-direction: column;
        height: unset;
    }

    .content .museum-wrapper .boutons {
        flex-direction: row;
        width: unset;
        top: unset;
        transform: unset;
        height: unset;
    }

    .museum-wrapper .boutons .flecheUp {
        rotate: -90deg;
    }

    .museum-wrapper .boutons .flecheUp:hover img {
        width: 40px;
    }

    .museum-wrapper .boutons .flecheDown {
        rotate: 90deg;
    }

    .museum-wrapper .boutons .flecheDown:hover img {
        width: 40px;
    }

    .museum {
        width: 86vw;
        height: 12rem;
    }

    .content .text {
        margin: 0;
        margin-left: 2rem;
        margin-right: 2rem;
    }

    .gradient {
        background: linear-gradient(90deg, #ffffff, transparent, transparent, #ffffff);

    }

    .cadre {
        width: 26vw;
        height: 11vh;
    }

    h3 {
        font-size: 3vh;
    }

    .nextPage {
        width: auto;
        text-align: center;

    }
}

.hiddenTop {
    transform: translateY(200vh);
    pointer-events: none;
}

.hiddenLeft {
    transform: translateX(200vw);
    pointer-events: none;
}

.hiddenBottom {
    transform: translateY(-200vh);
    pointer-events: none;
}

.hiddenRight {
    transform: translateX(-200vw);
    pointer-events: none;
}

.hiddenOpacity {
    opacity: 0;
    pointer-events: none;
}

.hiddenMuseum {
    opacity: 0;
    transform: translateY(-20vh);
}