@font-face {
    font-family: "Acrylic";
    src: url("../Assets/Fonts/AcylicalHand-Thick.ttf");
}

@font-face {
    font-family: "Basquiat";
    src: url("../Assets/Fonts/BASQUIAT.otf");
}

@font-face {
    font-family: "Luam";
    src: url("../Assets/Fonts/Luam-Regular.ttf");
}

@font-face {
    font-family: "Georgia";
    src: url("../Assets/Fonts/georgia.ttf");
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Luam';
}

canvas {
    position: absolute;
    top: 0;
}

a {
    color: black;
    text-decoration: none;
}

#Scene {
    background-color: white;
    width: 100%;
    /* height: 100vh; */
    position: relative;
    display: flex;
    flex-direction: column;
    align-content: center;
}

.top {
    position: sticky;
    display: flex;
    height: 12vh;
    justify-content: space-between;
    z-index: 3;
    top: 0;
    background-color: white;
    box-shadow: 0px 6px 13px -5px rgba(0, 0, 0, 0.25);
}

.deco-header {

    display: none;

}

.titre {
    display: flex;
    align-items: center;
    margin-left: 1rem;
    min-width: 360px;
    cursor: pointer;
}

.titre .deco-title {
    position: relative;
    height: 3rem;
    top: 0.2rem;
    left: 0.2rem;
    filter: brightness(0);
}



.titre h1 {
    display: flex;
    align-items: center;
}

.titre h1 span:nth-child(1) {
    font-family: "Basquiat";
    font-weight: lighter;
    margin: 0;
    height: fit-content;
    font-size: 2rem;

}

.titre h1 span:nth-child(2) {
    font-family: "Luam";
    font-weight: lighter;
    margin: 0;
    height: fit-content;
    font-size: 1.7rem;
    margin-left: 0.5rem;
    position: relative;
    top: 3px;
}

.ico {
    display: flex;
    width: 15rem;
    justify-content: space-evenly;
}

.proj {
    background-image: url('../Assets/SVG/LinkProj.svg');
    background-size: contain;
    background-position: center;
    width: 2rem;
    background-repeat: no-repeat;
    cursor: pointer;
    filter: brightness(0);
}

.comp {
    background-image: url('../Assets/SVG/LinkComp.svg');
    background-size: contain;
    background-position: center;
    width: 2rem;
    background-repeat: no-repeat;
    cursor: pointer;
    filter: brightness(0);

}

.conclu {
    background-image: url('../Assets/SVG/LinkConclu.svg');
    background-size: contain;
    background-position: center;
    width: 2rem;
    background-repeat: no-repeat;
    cursor: pointer;
    filter: brightness(0);

}

.proj:hover {
    animation-duration: 1s;
    animation-name: text-wiggle;
    animation-delay: 0;
    animation-iteration-count: infinite;
    animation-direction: forward;
}

.comp:hover {
    animation-duration: 1s;
    animation-name: text-wiggle;
    animation-delay: 0;
    animation-iteration-count: infinite;
    animation-direction: forward;
}

.conclu:hover {
    animation-duration: 1s;
    animation-name: text-wiggle;
    animation-delay: 0;
    animation-iteration-count: infinite;
    animation-direction: forward;
}

@keyframes text-wiggle {
    0% {
        transform: rotate(0deg);
    }

    15% {
        transform: rotate(5deg);
    }

    30% {
        transform: rotate(-5deg);
    }

    45% {
        transform: rotate(5deg);
    }

    60% {
        transform: rotate(0deg);
    }
}

.content {
    align-self: center;
    display: flex;
    gap: 5vw;
    flex-wrap: wrap;
    justify-content: flex-start;
    width: 90%;
    margin: 5% 10%;
    margin-bottom: 12rem;
}


.museum-element {
    position: relative;
    background-size: contain;
    background-repeat: no-repeat;
    width: 29%;
    height: 0;
    padding-top: 19.4%;
    cursor: pointer;
    transition: all 0.5s;
}

.museum-element:hover {
    transform: scale(1.08);
    z-index: 2;
}

.museum-title {
    background-color: white;
    color: white;
    width: 110%;
    position: absolute;
    top: 100%;
    padding-top: 0.2rem;
    text-align: center;
    transform: translate(-5%, 0);
    font-size: 1.5rem;
    transition: all 0.5s;
}

.museum-element:hover .museum-title {
    color: black;
    transform: translate(-5%, -100%);

}

.museum-description {
    background-color: white;
    color: white;
    width: 110%;
    position: absolute;
    top: 0;
    padding-top: 0.2rem;
    text-align: center;
    transform: translate(-5%, -100%);
    font-size: 1.5rem;
    transition: all 0.5s;
}

.museum-element:hover .museum-description {
    color: black;
    transform: translate(-5%, -5%);

}


.bottom {
    background-color: white;
    position: fixed;
    top: 100%;
    transform: translateY(-100%);
    box-shadow: 2px -6px 13px -5px rgba(0, 0, 0, 0.25);
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 3;
    font-size: 1.5rem;
}

.bottom-text {
    margin: 2rem 1rem 1rem 1rem;
    text-align: center;
}

.nextPage {
    cursor: pointer;
}

.nextPage p {
    text-decoration: underline;
    text-decoration-color: white;
    margin-top: 0;
    transition: all 0.2s;
}

.nextPage:hover p {
    text-decoration-color: black;
}





.transition {
    position: fixed;
    background-color: white;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    opacity: 1;
    left: 0;
    z-index: 4;
}


.transition-content {
    position: absolute;
    width: 50vw;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: 30px;
    transition: all 1s;
}

.transitionB {
    position: fixed;
    background-color: black;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    opacity: 1;
    left: 0;
    transition: all 1s;
    pointer-events: none;
    z-index: 4;
    background-image: linear-gradient(transparent, transparent 3px, #262f25);
    background-size: 4px 4px;
}

.transitionB2 {
    position: fixed;
    background-color: white;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    opacity: 1;
    left: 0;
    z-index: 4;
    transition: all 1s;
}

.mobile {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-color: black;
    z-index: 10;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.mobile p {
    height: fit-content;
    width: 80vw;
    margin: 0;
    font-size: 35px;
    text-align: center;
    color: white;

}

.mobile img {
    height: 20vw;
    margin-bottom: 2rem;
}

@media screen and (max-width: 800px) {

    #Scene {
        height: unset;
    }

    .top {
        justify-content: center;
    }

    .titre {
        justify-content: center;
    }

    .titre h1 {
        flex-wrap: wrap;
        width: 70%;
        justify-content: center;
    }

    .ico {
        display: none;
    }

    .deco-header {
        display: none;
    }

    .deco-title {
        display: none;
    }

    .transition-content {
        width: 80vw;
        text-align: center;
    }



    .content {
        justify-content: space-between;
        height: fit-content;
        margin-bottom: 15rem;
        margin-top: 5rem;
        flex-direction: column;
        align-items: center;
    }

    .museum-element {
        width: 80%;
        padding-top: 53.5%;
    }

    .museum-element:hover {
        transform: scale(1);
    }

    .museum-description{
        display: none;
    }

    .museum-title{
        display: none;
    }

    .bottom-text{
        font-size: 1.25rem;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
    }

    .showMuseum .museum-title{
        display: block;
        color: black;
        animation: museum-mobile-title 0.5s forwards;
    }

    .showMuseum .museum-description{
        display: block;
        color: black;
        animation: museum-mobile-description 0.5s forwards;
    }

}

@keyframes museum-mobile-title {
    0% {
        display: block;
    }
    1%{
        transform: translate(-5%, 0);
    }

    100% {
        transform: translate(-5%, -100%);
    }
}
@keyframes museum-mobile-description {
    0% {
        display: block;
    }
    1%{
        transform: translate(-5%, -100%);
    }

    100% {
        transform: translate(-5%, -5%);
    }
}

.hiddenTop {
    transform: translateY(200vh);
    pointer-events: none;
}

.hiddenLeft {
    transform: translateX(200vw);
    pointer-events: none;
}

.hiddenBottom {
    transform: translateY(-200vh);
    pointer-events: none;
}

.hiddenRight {
    transform: translateX(-200vw);
    pointer-events: none;
}

.hiddenOpacity {
    opacity: 0;
    pointer-events: none;
}

.hiddenMuseum {
    opacity: 0;
    transform: translateY(-20vh);
}

